@section style {
    <style type="text/css">
        input[type=text] {
            max-width: 690px;
        }

        .container-login {
            color: black;
        }
    </style>
}
<div class="container-login">
    <img src="/imagem/tag.png" />
    <br />
    <h1>REAL-PROMO</h1>
    <div class="container-form">
        <input type="text" placeholder="Empresa" id="Empresa" />
        <br />
        <input type="text" placeholder="Chamada" id="Chamada" />
        <br />
        <input type="text" placeholder="Regras" id="Regras" />
        <br />
        <input type="text" placeholder="Endereço(URL)" id="EnderecoURL"/>

        <div class="container-button">
            <input type="button" value="CADASTRAR" id="BtnCadastrar" />
        </div>

        <div id="Mensagem">
        </div>
    </div>
</div>

