@section style {
    <style type="text/css">
        body {
            background-color: #32A060;
        }

        input[type=text] {
            max-width: 690px;
        }
    </style>
}
<div class="container-login" id="form-cadastro">
    <img src="/imagem/logo.png" />
    <h1>ZapWeb</h1>
    <div class="container-form">
        <input type="text" placeholder="Nome" id="nome" />
        <br />
        <input type="text" placeholder="E-mail" id="email" />
        <br />
        <input type="text" placeholder="Senha" id="senha" />

        <div class="container-button">
            <input type="button" value="CADASTRAR" id="btnCadastrar" />
        </div>
        <span id="mensagem"></span>
    </div>
</div>