<!DOCTYPE html>
<html>
    <head>
        <title>Real Promo</title>
        <link rel="stylesheet" href="~/css/main.css" />

        @RenderSection("style", false)
    </head>
    <body>
        @RenderBody()
        <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
    </body>
</html>
