@section style { 
    <style type="text/css">
        body {
            background-color: #FE602B;
        }

        .container-login {
            text-align: left;
        }
    </style>
}

<div class="container-login" id="container-login">
    <!--
    <div class="container-promo">
        <div class="container-chamada">
            <h1>Carrefour</h1>
            <p>TV LG 40" - R$ 999,99</p>
            <p>Somente 20 unidades</p>
        </div>
        <div class="container-botao">
            <a href="EnderecoURL">Pegar</a>
        </div>
    </div>
    -->
    <span>*Todas as promoções tem um prazo de 1 hora.</span>
</div>