<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <title>Zap - Web e Api</title>
    @RenderSection("style", false)
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
