@section style {
    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }
        .container-button {
            display: none;
        }
    </style>
}

<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
        <img src="/imagem/logo.png" style="width: 50%;" />
        <a href="#" id="btnSair">Sair</a>
    </div>
    <div id="users">
        
    </div>

</div>

<!-- Page content -->
<div class="main" id="tela-conversacao">
    <div class="container-messages">
        
    </div>

    <div class="container-button">
        <input type="text" placeholder="Mensagem" id="mensagem" />
        <button class="btn-send" id="btnEnviar"></button>
    </div>
</div>